* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

@font-face {
  font-family: Notch;
  src: url("./assets/Stack_Sans_Notch/StackSansNotch-VariableFont_wght.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("./assets/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf");
}

#root {
  --primary: #34aaf3;
  --secondary: #f3ed3a;
  --bg: #fffcf7;
  --black: rgb(37, 37, 37);
  --gray: #d3d3d3;

  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  margin: 2rem;
}

#headerContainer {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  height: 120px;
  gap: 40px;
  border: 2px solid var(--black);
  box-shadow: 10px 10px 0px var(--black);
  margin-bottom: 15px;
  font-family: Notch, Arial, Helvetica, sans-serif;
  font-size: 52px;
  background-color: var(--primary);
}

#headerContainer img {
  height: 100%;
}

#nav-items {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  height: 40px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  font-family: Notch, Arial, Helvetica, sans-serif;
}

#nav-items li,
#sub-nav-items li {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  transition: font-weight 0.1s;
  border: 1px solid var(--black);
  box-shadow: 3px 3px 0px var(--black);
  font-size: 18px;
}

#sub-nav-items li {
  font-size: 16px;
}

#nav-items li:hover,
#sub-nav-items li:hover {
  cursor: pointer;
  background-color: var(--gray);
}

#nav-items li.selected,
#sub-nav-items li.selected {
  font-weight: bold;
  --primary: #ff6f61;
  background-color: var(--secondary);
  transition: background-color 0.3s;
  box-shadow: 5px 5px 0px var(--black);
}

#sub-nav-items {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  height: 40px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 15px;
  font-family: Notch, Arial, Helvetica, sans-serif;
}

#content {
  padding: 40px 0;
  border: 2px solid var(--black);
  box-shadow: 10px 10px 0px var(--black);
  min-height: 400px;
  max-width: 60%;
  margin: 0 auto;
}

#content p,
#content h2,
#content h3 {
  margin: 0 60px;
  margin-bottom: 20px;
}

#content p,
#content small {
  text-align: left;
}

#content img {
  max-width: 80%;
  margin: 20px auto;
  display: block;
}

#content small {
  max-width: 50%;
  display: block;
  margin: 10px auto 20px auto;
  padding-left: 2.5em;
  text-indent: -2.5em;
}

#content small:has(> strong) {
  text-align: center;
}

/*TODO: Add responsive design for smaller screens*/
